In [954]:
import yfinance as yf
import pandas as pd
from dateutil.relativedelta import relativedelta
import numpy as np
pd.set_option('mode.chained_assignment', None)
from datetime import datetime

# Data Download

In [16]:
aapl=yf.download('AAPL',period='max')

[*********************100%***********************]  1 of 1 completed

In [6]:
arkk=yf.download('ARKK',period='max')

[*********************100%***********************]  1 of 1 completed

In [46]:
arkk_close=arkk[['Close']].pct_change()

In [845]:
aapl_close=aapl[['Close']].pct_change()

# Facts for Post CPI Rally

In [898]:
#Post CPI Rally
print(f"{aapl_close.loc['2022-11-10'][0]*100:0.02f}%")

8.90%

In [149]:
aapl_close[aapl_close['Close']>0.08]

               Close
Date
1980-12-26  0.092309
1981-04-02  0.087632
1981-10-02  0.081977
1981-12-17  0.083328
1981-12-18  0.082846
...              ...
2020-03-13  0.119808
2020-03-24  0.100325
2020-04-06  0.087237
2020-07-31  0.104689
2022-11-10  0.088975

[104 rows x 1 columns]

In [158]:
#prior biggest rally
aapl_close[aapl_close['Close']>aapl_close.loc['2022-11-10'][0]].index[-1]

Timestamp('2020-07-31 00:00:00')

In [61]:
#how many days since 2020 has the stock rallied more
print(len(aapl_close[(aapl_close.loc[:,'Close']>aapl_close.loc['2022-11-10','Close'])&(aapl_close.index>'2020-1-1')]))
aapl_close[(aapl_close.loc[:,'Close']>aapl_close.loc['2022-11-10','Close'])&(aapl_close.index>'2020-1-1')]

4

               Close
Date
2020-03-02  0.093101
2020-03-13  0.119808
2020-03-24  0.100325
2020-07-31  0.104689

In [793]:
# #streaks
# for i in range(1,len(aapl_close.index)):
#     if aapl_close.index.get_loc(aapl_close[(aapl_close['Close']>0)&(aapl_close.index<'2022-11-11')].iloc[-i].name)-aapl_close.index.get_loc(aapl_close[(aapl_close['Close']>0)&(aapl_close.index<'2022-11-11')].iloc[-i-1].name)==1:
#         #print(aapl_close.index.get_loc(aapl_close.iloc[-i].name)-aapl_close.index.get_loc(aapl_close.iloc[-i-1].name))
#         #print(loc)
#         pass
#     else:
#         #print(aapl_close.index.get_loc(aapl_close.iloc[-i].name)-aapl_close.index.get_loc(aapl_close.iloc[-i-1].name))
#         #print(loc)
#         if aapl_close[(aapl_close['Close']>0)&(aapl_close.index<'2022-11-11')].iloc[-i][0]>0:
#             print(i)
#             break
#         else:
#             print(i-1)
#             break

In [796]:
datetime.strftime((aapl_close[aapl_close['Close']>aapl_close.loc['2022-11-10'][0]].index[-1]),'%Y-%m-%d')

'2020-07-31'

In [811]:
#lowest/highest close since? 
# highest level since:
aapl.index[aapl.index.get_loc(aapl[(aapl['Close']>aapl.loc['2022-11-10','Close'])&(aapl.index<'2022-11-10')].index[-1])+1]

Timestamp('2022-11-02 00:00:00')

In [817]:
#lowest close since
aapl.index[aapl.index.get_loc(aapl[(aapl['Close']<aapl.loc['2022-11-10','Close'])&(aapl.index<'2022-11-10')].index[-1])+1]

Timestamp('2022-11-10 00:00:00')

In [833]:
#WTD
print(f"Stock WTD performance {(aapl.loc['2022-11-10','Close']-aapl.loc[:'2022-11-10','Close'].resample('W').first().iloc[-1])/aapl.loc[:'2022-11-10','Close'].resample('W').first().iloc[-1]*100:0.02f}%")

Stock WTD performance 5.72%

In [835]:
#MTD
print(f"Stock MTD performance {(aapl.loc['2022-11-10','Close']-aapl.loc[:'2022-11-10','Close'].resample('M').first().iloc[-1])/aapl.loc[:'2022-11-10','Close'].resample('M').first().iloc[-1]*100:0.02f}%")

Stock MTD performance -2.51%

In [836]:
#YTD
print(f"Stock YTD performance {(aapl.loc['2022-11-10','Close']-aapl.loc[:'2022-11-10','Close'].resample('Y').first().iloc[-1])/aapl.loc[:'2022-11-10','Close'].resample('Y').first().iloc[-1]*100:0.02f}%")

Stock YTD performance -19.31%

In [839]:
#% from 52W High/Low
#alternative would be to get the start timestamp like this: aapl.loc['2022-11-10'].name-relativedelta(years=1)
high=aapl.loc[(datetime.strptime('2022-11-10', "%Y-%m-%d")-relativedelta(years=1)):'2022-11-10']['Close'].max()
low=aapl.loc[(datetime.strptime('2022-11-10', "%Y-%m-%d")-relativedelta(years=1)):'2022-11-10']['Close'].min()

#% from 52W High/Low
print(f"Stock off from 52W High : {(aapl.loc['2022-11-10','Close']-high)/high*100:0.02f}%")
print(f"Stock off from 52W Low : {(aapl.loc['2022-11-10','Close']-low)/low*100:0.02f}%")

Stock off from 52W High : -19.31%
Stock off from 52W Low : 12.92%

In [843]:

#% from all time high/low
all_time_high=aapl.loc[:'2022-11-10','Close'].max()
all_time_low=aapl.loc[:'2022-11-10','Close'].min()

#% from all time high/low
print(f"Stock off from All-time high : {(aapl.loc['2022-11-10','Close']-all_time_high)/all_time_high*100:0.02f}%")
print(f"Stock off from All-time low : {(aapl.loc['2022-11-10','Close']-all_time_low)/all_time_low*100:0.02f}%")

Stock off from All-time high : -19.31%
Stock off from All-time low : 298981.59%

# Facts Specific Day

In [916]:
#function looking up specific day rally/selloff
def rally_selloff_day(stock,day,day2):
    stock=yf.download(stock,period='max')
    stock_close=stock[['Close']].pct_change()
    moves_pct=stock_close.loc[day][0]
    high_since=stock.index[stock.index.get_loc(stock[(stock['Close']>stock.loc[day,'Close'])&(stock.index<day)].index[-1])+1]
    low_since=stock.index[stock.index.get_loc(stock[(stock['Close']<stock.loc[day,'Close'])&(stock.index<day)].index[-1])+1]
    #round(stock_close.loc['2022-11-10'][0]*100,2)
    print(f'Daily Change- {moves_pct*100:0.02f}%')
    print(f"Stock WTD performance {(stock.loc[day,'Close']-stock.loc[:day,'Close'].resample('W').first().iloc[-1])/stock.loc[:day,'Close'].resample('W').first().iloc[-1]*100:0.02f}%")
    print(f"Stock MTD performance {(stock.loc[day,'Close']-stock.loc[:day,'Close'].resample('M').first().iloc[-1])/stock.loc[:day,'Close'].resample('M').first().iloc[-1]*100:0.02f}%")
    print(f"Stock YTD performance {(stock.loc[day,'Close']-stock.loc[:day,'Close'].resample('Y').first().iloc[-1])/stock.loc[:day,'Close'].resample('Y').first().iloc[-1]*100:0.02f}%")
    
    high=stock.loc[(datetime.strptime(day, "%Y-%m-%d")-relativedelta(years=1)):day]['Close'].max()
    low=stock.loc[(datetime.strptime(day, "%Y-%m-%d")-relativedelta(years=1)):day]['Close'].min()
    #% from 52W High/Low
    print(f"Stock off from 52W High : {(stock.loc[day,'Close']-high)/high*100:0.02f}%")
    print(f"Stock off from 52W Low : {(stock.loc[day,'Close']-low)/low*100:0.02f}%")
    
    all_time_high=stock.loc[:day,'Close'].max()
    all_time_low=stock.loc[:day,'Close'].min()
    #% from all time high/low
    print(f"Stock off from All-time high : {(stock.loc[day,'Close']-all_time_high)/all_time_high*100:0.02f}%")
    print(f"Stock off from All-time low : {(stock.loc[day,'Close']-all_time_low)/all_time_low*100:0.02f}%")

    if moves_pct>0:
        bigger_moves=stock_close[stock_close['Close']>moves_pct]
        prior_big_move=stock_close[stock_close['Close']>stock_close.loc[day][0]].index[-1]
        other_moves_since=stock_close[(stock_close.loc[:,'Close']>stock_close.loc[day,'Close'])&(stock_close.index>day2)]        
        print(f"The most recent bigger daily rally was on {datetime.strftime(prior_big_move,'%Y-%m-%d')} - {stock_close.loc[prior_big_move][0]*100:0.02f}%")
        print(f'Highest close since {high_since}')
    else:
        bigger_moves=stock_close[stock_close['Close']<moves_pct]
        prior_big_move=stock_close[stock_close['Close']<stock_close.loc[day][0]].index[-1]
        other_moves_since=stock_close[(stock_close.loc[:,'Close']<stock_close.loc[day,'Close'])&(stock_close.index>day2)]
        print(f"The most recent bigger daily selloff was on {datetime.strftime(prior_big_move,'%Y-%m-%d')} - {stock_close.loc[prior_big_move][0]*100:0.02f}%")
        print(f'Lowest close since {low_since}')
    return moves_pct,bigger_moves,prior_big_move,other_moves_since
CPI_rally=rally_selloff_day('AAPL','2022-11-10','2022-01-01')

[*********************100%***********************]  1 of 1 completed
Daily Change- 8.90%
Stock WTD performance 5.72%
Stock MTD performance -2.51%
Stock YTD performance -19.31%
Stock off from 52W High : -19.31%
Stock off from 52W Low : 12.92%
Stock off from All-time high : -19.31%
Stock off from All-time low : 298981.59%
The most recent bigger daily rally was on 2020-07-31 - 10.47%
Highest close since 2022-11-02 00:00:00

# Streaks

In [917]:
df=yf.download('AAPL',period='max')
df_close=df[['Close']].pct_change()

[*********************100%***********************]  1 of 1 completed

In [918]:
#longest losing streak
def longest_losing_streak(df):
    counter=0
    max_counter=0
    end_day,end=0,0

    for num,i in enumerate(df.apply(lambda x: 1 if x['Close']<0 else 0,axis=1)):
        if i>0:
            counter+=1
            end=num
        else:
            counter=0
        if max_counter<=counter:
            end_day=end

        max_counter=max(max_counter,counter)

    print(f'Longest losing streak is {max_counter} days')
    return df.iloc[end_day-max_counter+1:end_day+1]
longest_streak(df_close)

Longest losing streak is 9 days

               Close
Date
1991-06-04 -0.002538
1991-06-05 -0.022902
1991-06-06 -0.028644
1991-06-07 -0.010726
1991-06-10 -0.002710
1991-06-11 -0.029889
1991-06-12 -0.050422
1991-06-13 -0.005899
1991-06-14 -0.023737

In [919]:
#longest winning streak
def longest_winning_streak(df):
    counter=0
    max_counter=0
    end_day,end=0,0

    for num,i in enumerate(df.apply(lambda x: 1 if x['Close']>0 else 0,axis=1)):
        if i>0:
            counter+=1
            end=num
        else:
            counter=0
        if max_counter<=counter:
            end_day=end

        max_counter=max(max_counter,counter)

    print(f'Longest winning streak is {max_counter} days')
    return df.iloc[end_day-max_counter+1:end_day+1]
longest_winning_streak(df_close)

Longest winning streak is 12 days

               Close
Date
2003-04-28  0.038202
2003-04-29  0.014428
2003-04-30  0.011383
2003-05-01  0.009845
2003-05-02  0.006267
2003-05-05  0.113492
2003-05-06  0.087634
2003-05-07  0.008573
2003-05-08  0.019830
2003-05-09  0.016666
2003-05-12  0.014208
2003-05-13  0.005926

In [920]:
#biggest rise streak
def biggest_rally(df):
    #rally=aapl_close.copy()
    df['Negative']=df.apply(lambda x: 1 if x['Close']<0 else 0,axis=1)

    returns=1
    counter,max_counter=0,0
    max_returns=1
    end_day,end=0,0
    for num,i in enumerate(df["Negative"]):
        if i<1:
            returns=(returns*(1+df['Close'].iloc[num]))
            end=num
            counter+=1
            #print (i,returns,attempt['Close'].iloc[num],attempt.iloc[num].name)
        else:
            returns=1
            counter=0
        if max_returns<=returns:
            end_day=end

            max_returns=max(max_returns,returns)
            max_counter=max(max_counter,counter)
        #print(returns,attempt.iloc[num].name)
    print(f'Biggest consecutive rally is {round((max_returns-1)*100,2)}% return in {max_counter} days')
    print('\nDaily return during that period')
    return df.iloc[end_day-max_counter+1:end_day+1]
biggest_rally(df_close)

Biggest consecutive rally is 84.59% return in 10 days

Daily return during that period

               Close  Negative
Date
1997-07-25  0.027666         0
1997-07-28  0.011538         0
1997-07-29  0.003802         0
1997-07-30  0.053034         0
1997-07-31  0.007194         0
1997-08-01  0.096429         0
1997-08-04  0.029314         0
1997-08-05  0.000000         0
1997-08-06  0.332280         0
1997-08-07  0.109265         0

In [921]:
#biggest selloff streak
def biggest_selloff(df):
#     selloff=aapl_close.copy()
    df['Positive']=df.apply(lambda x: 1 if x['Close']>0 else 0,axis=1)

    returns=1
    counter,max_counter=0,0
    max_returns=1
    end_day,end=0,0
    for num,i in enumerate(df["Positive"]):
        if i<1:
            returns=(returns*(1+df['Close'].iloc[num]))
            end=num
            counter+=1
           # print (i,returns,attempt['Close'].iloc[num],attempt.iloc[num].name)
        else:
            returns=1
            counter=0
          #  print(' ')
        if max_returns>=returns:
            end_day=end

            max_returns=min(max_returns,returns)
            max_counter=max(max_counter,counter)

    print(f'Biggest consecutive selloff is {round((max_returns-1)*100,2)}% return in {max_counter} days')
    return df.iloc[end_day-max_counter+1:end_day+1]
biggest_selloff(df_close)

Biggest consecutive selloff is -58.29% return in 7 days

               Close  Negative  Positive
Date
2000-09-25  0.025149         0         1
2000-09-26 -0.038551         1         0
2000-09-27 -0.048603         1         0
2000-09-28  0.093231         0         1
2000-09-29 -0.518692         1         0
2000-10-02 -0.058251         1         0
2000-10-03 -0.079896         1         0

In [864]:
#check streaks in general
def streaks_prep(df):
    #general=aapl_close.copy()
    df['Positive']=df.apply(lambda x: 1 if x['Close']>0 else 0,axis=1)
    df['Negative']=df.apply(lambda x: 1 if x['Close']<0 else 0,axis=1)

    returns_selloff=1
    counter_selloff=0
    returns_list_selloff=[]
    counter_list_selloff=[]
    for num,i in enumerate(df["Positive"]):
        if i<1:
            returns_selloff=(returns_selloff*(1+df['Close'].iloc[num]))
            #end=num
            counter_selloff+=1

           # print (i,returns,attempt['Close'].iloc[num],attempt.iloc[num].name)
        else:
            returns_selloff=1
            counter_selloff=0
          #  print(' ')
        returns_list_selloff.append(returns_selloff)
        counter_list_selloff.append(counter_selloff)
    df['Selloff Return']=np.array(returns_list_selloff)-1
    df['Selloff Counter']=counter_list_selloff



    returns_rally=1
    counter_rally=0
    returns_list_rally=[]
    counter_list_rally=[]
    for num,i in enumerate(df["Negative"]):
        if i<1:
            returns_rally=(returns_rally*(1+df['Close'].iloc[num]))
            #end=num
            counter_rally+=1
            #print (i,returns,attempt['Close'].iloc[num],attempt.iloc[num].name)
        else:
            returns_rally=1
            counter_rally=0
        returns_list_rally.append(returns_rally)
        counter_list_rally.append(counter_rally)

    df['Rally Return']=np.array(returns_list_rally)-1
    df['Rally Counter']=counter_list_rally
    #with this sort of filtering we can see what the biggest rallies were. 
    df2=df[df['Rally Counter']!=0]
    df2.loc[:,'Check Rally']=df2['Rally Counter'].shift(-1)
    #this lets us do the selloff filtering
    df3=df[df['Selloff Counter']!=0]
    df3.loc[:,'Check Selloff']=df3['Selloff Counter'].shift(-1)
    return df,df2,df3

In [922]:
gen1,gen2,gen3=streaks_prep(df_close)

In [1000]:
#biggest rallies (more than 1 consecutive day)
gen2[gen2['Rally Counter']>gen2['Check Rally']].sort_values(by='Rally Return',ascending=False).head()

,Close,Positive,Negative,Selloff Return,Selloff Counter,Rally Return,Rally Counter,Check Rally
Date,,,,,,,,
1997-08-07,0.109265,1,0,0.0,0,0.845853,10,1.0
1980-12-29,0.014084,1,0,0.0,0,0.425743,8,1.0
1987-10-29,0.179107,1,0,0.0,0,0.410716,3,1.0
2003-05-13,0.005926,1,0,0.0,0,0.398502,12,1.0
1982-08-26,0.028984,1,0,0.0,0,0.352374,10,1.0

In [998]:
#biggest rallies (including only daily rallies)
gen2.sort_values(by='Rally Return',ascending=False).head()

,Close,Positive,Negative,Selloff Return,Selloff Counter,Rally Return,Rally Counter,Check Rally
Date,,,,,,,,
1997-08-07,0.109265,1,0,0.0,0,0.845853,10,1.0
1997-08-06,0.332280,1,0,0.0,0,0.664032,9,10.0
1980-12-29,0.014084,1,0,0.0,0,0.425743,8,1.0
1987-10-29,0.179107,1,0,0.0,0,0.410716,3,1.0
1980-12-26,0.092309,1,0,0.0,0,0.405942,7,8.0

In [1001]:
##biggest selloffs (more than 1 consecutive day)
gen3[gen3['Selloff Counter']>gen3['Check Selloff']].sort_values(by='Selloff Return',ascending=True).head()

,Close,Positive,Negative,Selloff Return,Selloff Counter,Rally Return,Rally Counter,Check Selloff
Date,,,,,,,,
2000-10-03,-0.079896,0,1,-0.582943,3,0.0,0,1.0
1987-10-20,-0.054794,0,1,-0.366972,5,0.0,0,1.0
1993-07-19,-0.068181,0,1,-0.325657,5,0.0,0,1.0
1987-10-26,-0.211267,0,1,-0.308642,3,0.0,0,1.0
1998-08-31,-0.087752,0,1,-0.274710,6,0.0,0,1.0

In [1003]:
##biggest selloffs (including only daily selloffs)

gen3.sort_values(by='Selloff Return',ascending=True).head()

,Close,Positive,Negative,Selloff Return,Selloff Counter,Rally Return,Rally Counter,Check Selloff
Date,,,,,,,,
2000-10-03,-0.079896,0,1,-0.582943,3,0.0,0,1.0
2000-10-02,-0.058251,0,1,-0.546729,2,0.0,0,3.0
2000-09-29,-0.518692,0,1,-0.518692,1,0.0,0,2.0
1987-10-20,-0.054794,0,1,-0.366972,5,0.0,0,1.0
1987-10-19,-0.243524,0,1,-0.330275,4,0.0,0,5.0

In [923]:
#assume we want to see the nth largest rally
def nth_rally(n,df,gen2):
    nth=gen2[gen2['Rally Counter']>gen2['Check Rally']].sort_values(by='Rally Return',ascending=False).iloc[n-1]
    rally=df.iloc[int(df.index.get_loc(nth.name)-nth['Rally Counter']):df.index.get_loc(nth.name)+1]
    rally['Cum Return']=(1+rally['Close'].pct_change()).cumprod()-1
    return rally[['Close','Cum Return']]
nth_rally(3,df,gen2)

               Close  Cum Return
Date
1987-10-26  0.250000         NaN
1987-10-27  0.270089    0.080356
1987-10-28  0.299107    0.196428
1987-10-29  0.352679    0.410716

In [924]:
#assume we want to see the nth largest selloff
def nth_selloff(n,df,gen3):
    nth=gen3[gen3['Selloff Counter']>gen3['Check Selloff']].sort_values(by='Selloff Return',ascending=True).iloc[n-1]
    selloff=df.iloc[int(df.index.get_loc(nth.name)-nth['Selloff Counter']):df.index.get_loc(nth.name)+1]
    selloff['Cum Return']=(1+selloff['Close'].pct_change()).cumprod()-1
    return selloff[['Close','Cum Return']]
nth_selloff(3,df,gen3)

               Close  Cum Return
Date
1993-07-12  0.339286         NaN
1993-07-13  0.332589   -0.019739
1993-07-14  0.332589   -0.019739
1993-07-15  0.319196   -0.059213
1993-07-16  0.245536   -0.276316
1993-07-19  0.228795   -0.325657

In [1024]:
#when was the most recent rally and how did it rank?
def most_recent_rally(gen2):
    gen2=gen2.fillna(0)
    recent_rally=gen2[gen2['Rally Counter']>gen2['Check Rally']].sort_values(by='Rally Return',ascending=False)
    print(f'Most recent rally ended on : {recent_rally.index.max()}')
    print(f'It was the {recent_rally.index.get_loc(recent_rally.index.max())} biggest rally on record')
    print('\nRecap of the Rally:')
    print(recent_rally.loc[recent_rally.index.max(),['Rally Return','Rally Counter']])
most_recent_rally(gen2)

Most recent rally ended on : 2022-12-01 00:00:00
It was the 661 biggest rally on record

Recap of the Rally:
Rally Return     0.050577
Rally Counter    2.000000
Name: 2022-12-01 00:00:00, dtype: float64

In [1023]:
#when was the most recent selloff and how did it rank?
def most_recent_selloff(gen3):
    gen3=gen3.fillna(0)
    recent_selloff=gen3[gen3['Selloff Counter']>gen3['Check Selloff']].sort_values(by='Selloff Return',ascending=True)
    print(f'Most recent selloff ended on : {recent_selloff.index.max()}')
    print(f'It was the {recent_selloff.index.get_loc(recent_selloff.index.max())} biggest selloff on record')
    print('\nRecap of the Selloff:')
    print(recent_selloff.loc[recent_selloff.index.max(),['Selloff Return','Selloff Counter']])
most_recent_selloff(gen3)

Most recent selloff ended on : 2022-12-02 00:00:00
It was the 1375 biggest selloff on record

Recap of the Selloff:
Selloff Return    -0.003371
Selloff Counter    1.000000
Name: 2022-12-02 00:00:00, dtype: float64

In [914]:
#number of sellofs for a specified timeframe (in this case month November 2020):
recent_selloff.loc['2020-11'].shape[0]

4

In [1016]:
#streaks2
#as long as in 2 of the next 3 days the stock performed the same way, then the streak continues
def current_streak(df):
    test2=df.loc[:,'Close'].tail(15).to_frame()#>0
    test2['Negative']=test2.apply(lambda x: 1 if x['Close']<0 else 0,axis=1)
    test2['Positive']=test2.apply(lambda x: 1 if x['Close']>0 else 0,axis=1)
    for t,i in enumerate(test2['Positive'].iloc[::-1].shift(-1).rolling(window=3).sum()):
        if i<2:
            days=(t)
            positive=(test2['Positive'].iloc[::-1].iloc[:t].sum())
            break

    for t,i in enumerate(test2['Negative'].iloc[::-1].shift(-1).rolling(window=3).sum()):
        if i<2:
            days_2=(t)
            negative=(test2['Negative'].iloc[::-1].iloc[:t].sum())
            break
    if positive>negative:
        print(f'{positive} positive days in the past {days}')
    else:
        print(f'{negative} negative days in the past {days_2}')
current_streak(df_close.loc[:'2022-11-11'])

4 positive days in the past 5

In [1021]:
today=datetime.strftime(datetime.today().date(),'%Y-%m-%d')

In [1022]:
#all facts in one place:
def all_facts(stock,day1,day2):
    df=yf.download(stock,period='max')
    df_close=df[['Close']].pct_change()
    gen1,gen2,gen3=streaks_prep(df_close)
    current_streak(df_close.loc[:day1])
    rally_selloff_day(stock,day1,day2)
    print('\n')
    most_recent_rally(gen2.loc[:day1])
    print('\n')
    most_recent_selloff(gen3.loc[:day1])
all_facts('^GSPC',today,'2022-01-01')

[*********************100%***********************]  1 of 1 completed
6 negative days in the past 7
[*********************100%***********************]  1 of 1 completed
Daily Change- -1.79%
Stock WTD performance 0.00%
Stock MTD performance -1.91%
Stock YTD performance -16.63%
Stock off from 52W High : -16.63%
Stock off from 52W Low : 11.79%
Stock off from All-time high : -16.63%
Stock off from All-time low : 23902.64%
The most recent bigger daily selloff was on 2022-11-09 - -2.08%
Lowest close since 2022-11-30 00:00:00


Most recent rally ended on - 2022-11-30 00:00:00
It was the 486 biggest rally on record

Recap of the Rally:
Rally Return     0.030948
Rally Counter    1.000000
Name: 2022-11-30 00:00:00, dtype: float64


Most recent selloff ended on - 2022-12-05 00:00:00
It was the 814 biggest selloff on record

Recap of the Selloff:
Selloff Return    -0.019919
Selloff Counter    3.000000
Name: 2022-12-05 00:00:00, dtype: float64